{% extends "base.html" %}
{% load i18n %}
{% block title %}HellHeim! — {% trans "Port forwarding" %}{% endblock %}
{% block localcss %}
    <link rel="stylesheet" href="/static/css/ports.css" media="screen">
{% endblock %}

{% block body %}
<h3>{% trans "Ports" %}</h3>
<p>{% trans "All the fucking port forwarding here. You can view all port forwarding here and (if you have trolling 80 lvl reached) — add or edit it." %}</p>
{% if user.is_staff %}
<p>{% trans "Note: when you press 'Delete', selected port forwarding rule will be deleted IMMEDIATELY!" %}</p>
    <div class="rightfloat">
        [<a href="/ports/add">{% trans "Add new forwarding" %}</a>]
    </div>
{% endif %}
<table class="generic_table">
    <thead>
        <tr>
            <th>Human readable name</th>
            <th>Internal Port</th>
            <th>Outcoming Port</th>
            <th>Virtual Machine (IP address)</th>
            <th>Added by</th>
            <th>Modified</th>
            {% if user.is_staff %}
                <th></th>
                <th></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for port in ports %}
            <tr>
                <td>{{ port.comment }}</td>
                <td>{{ port.number_in }}</td>
                <td>{{ port.number_out }}</td>
                <td>{{ port.vm }} ({{ port.vm.ip_addr }})</td>
                <td>{{ port.added_by }}</td>
                <td>{{ port.last_modified }}</td>
                {% if user.is_staff %}
                    <td>
                        [<a href="/ports/{{ port.id }}/edit">{% trans "Edit" %}</a>]
                    </td>
                    <td>
                        [<a href="/ports/{{ port.id }}/delete">{% trans "Delete" %}</a>]
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}